.div_sticky_104 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 34px 60px 34px 80px;
}

.div_sticky_h1{
  color: #2D2E30;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 142.9%;
  letter-spacing: -0.8px;
  margin-bottom: 0;

}

.Frame72{
  display: flex;
  align-items: center;
  gap: 24px;
}


.date-picker-container {
  display: flex;
  height: 46px;
  padding: 13.731px 16.154px;
  gap: 5.385px;
}

.div_flexGap_16{
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-complete-order{
  padding: 8px 16px;
  display: flex; /* flexbox로 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #FFF;
  border: 1px solid #EAEBEC;
  color: #2D2E30;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.9%; /* 22.864px */
  letter-spacing: 0.232px;
}

.btn-add-order {
  padding: 8px 16px;
  display: flex; /* flexbox로 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #2D2E30;
  border: none;
}

.btn-add-order-text {
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.9%; /* 22.864px */
  letter-spacing: 0.232px;
  display: flex; /* flexbox로 설정 */
  justify-content: center; /* 텍스트 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.time-group {
  margin-bottom: 40px;
  padding: 34px 60px 34px 80px;
}

.titleSection {
  align-items: center;
  display: flex;
  gap: 8px;
  background-color: #ffffff;
  /* align-items 추가 */
  align-items: center; /* 수직 중앙 정렬 */
  padding-bottom: 24px;
  padding-top: 20px;
}

.time-group-title {
  font-size: 20px;
  color: #2d2e30;
  font-weight: 600;
  letter-spacing: -0.8px;
  margin: 0; /* 불필요한 여백 제거 */
}

.orders-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.order-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
}

.order-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


body {
  font-family: "Pretendard", sans-serif;
}