* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    display: flex;

  }
  
  .main-content {
    margin-left: 80px;
    width: calc(100% - 250px);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input, select {
    padding: 10px;
    margin: 10px 0;
  }