* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* 스크롤 바운스 효과 비활성화 */
}

.app {
    display: flex;

  }
  
  .main-content {
    width: calc(100%);
  }
  

  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input, select {
    padding: 10px;
    margin: 10px 0;
  }